/* APP COLOR SCHEME */
:root {
    --dark-blue: #182439;
    --light-gray: #F3F4F6;
    --gray: #DEE0E4;
    --charcoal: #444C5A;
    --white: #FFFFFF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* NAVBAR */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
}

.nav-title {
    font-family: 'Prosto One';
    font-size: 24px;
}

.offcanvas-title {
    font-family: 'Prosto One', sans-serif;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--charcoal);
    font-size: 18px;
    cursor: pointer;
}

.avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-bar {
    background: var(--light-gray);
    height: 60px;
}

@media (max-width: 575.98px) {
    .menu-bar {
        height: 0px;
    }
}

.nav-link {
    font-weight: 600;
    color: var(--dark-blue);
    border: none;
    background: none;
}

/* footer */
.footer {
    bottom: 0;
    position: absolute;
    background-color: var(--white);
    align-items: center;
    display: flex;
    height: 40px;
    font-family: var(--font-base);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    width: 100%;
}
